[package]
name = "solo-pc"
version = "0.1.0"
authors = ["Nicolas Stalder <n@stalder.io>", "Conor Patrick <conor@solokeys.com>"]
edition = "2018"

[dependencies]
chacha20 = { version = "0.6.0", features = ["rng"] }
delog = "0.1.0"
heapless = "0.6"
nb = "1"
embedded-hal = { version = "0.2", features = ["unproven"] }
generic-array = "0.14.3"
interchange = "0.2.0"
trussed = { git = "https://github.com/trussed-dev/trussed", branch = "main", features = ["clients-3"] }

# components
c-stubs = { path = "../../components/c-stubs" }
ctap-types = { path = "../../components/ctap-types" }
fido-authenticator = { path = "../../components/fido-authenticator" }
piv-authenticator = { path = "../../components/piv-authenticator" }
usbd-ccid = { path = "../../components/usbd-ccid" }
usbd-ctaphid = { path = "../../components/usbd-ctaphid" }
iso14443 = {path = "./../../components/iso14443"}
apdu-dispatch = {path = "./../../components/apdu-dispatch", features=["std"]}
ctaphid-dispatch = {path = "./../../components/ctaphid-dispatch"}
applet-ndef = {path = "./../../components/applet-ndef"}
applet-root = {path = "./../../components/applet-root"}
applet-fido = {path = "./../../components/applet-fido"}

# storage
littlefs2 = "0.2.1"

[features]
default = []

# Use to auto-succeed every user presence check
no-buttons= []

# Reconfigure the NFC chip in any case
reconfigure-nfc = []

log-all = []
log-none = []
log-info = []
log-debug = []
log-warn = []
log-error = []

# patch dependencies like so to test local changes

[profile.release]
codegen-units = 1
opt-level = "z"
incremental = false
debug = true
