[package]
name = "usbd-ctaphid"
version = "0.0.0-unreleased"
authors = ["Nicolas Stalder <n@stalder.io>"]
license = "Apache-2.0 OR MIT"
edition = "2018"

[dependencies]
ctap-types = { path = "../ctap-types" }
delog = "0.1.0"
heapless = "0.6"
heapless-bytes = "0.2.0"
ctaphid-dispatch = { path = "../ctaphid-dispatch" }
interchange = "0.2.0"
serde = { version = "1.0", default-features = false }
usb-device = "0.2.3"

[features]
default = []

log-all = []
log-none = []
log-info = []
log-debug = []
log-warn = []
log-error = []


[patch.crates-io]
heapless = { git = "https://github.com/nicolas-solokeys/heapless", branch = "bytebuf" }

